{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" >
      <div class="overlay news-single" style="background:#87330099;opacity:1;"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">ALUMNI EVENTS</h1>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section bg-light event-section">
      <div class="container">
        <div class="row">
          {% for event in events %}
          {% if forloop.counter < 10 %}</h1>
          <div class="col-md-6 col-lg-4 ftco-animate news-margin">
            <div class="blog-entry">
              <header class="news-div">
                  
                <a href="blog-single.html" class="block-20 d-flex align-items-end event-img" style="background-image: url('{{ event.event_img.url }}');"></a>
                <section class="header-text">
                  <p class="event-date">{{ event.event_date|date:"d" }}</p>
                  <p class="event-month">{{ event.event_date|date:"M" }}, {{ event.event_date|date:"Y" }} </p>
                </section>
                  
              </header>
              
              <div class="text bg-white p-4 news-box">
                <p>{{ event.title|upper }}</p>
                <p>{{ event.start_time|time:"H:i" }} P.M - {{ event.end_time|time:"H:i" }} P.M</p>
                {% if event.speaker %}
                  <p>Speaker: {{ event.speaker }}</p>
                {% endif %}
  
                {% if event.Venue %}
                  <p>Venue: {{ event.Venue }}</p>
                {% endif %}
        </div>
        
      </div>
      </div>
      {% endif %}
      {% endfor %}
      </div>
    </section>

    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-numbers"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled page-numbers"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active page-numbers"><span>{{ i }} <span class="sr-only">(current)</span> </span></li>
        {% else %}
        <li class="page-numbers"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="disabled page-numbers"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
    {% endif %}
  
    {% include 'footer.html' %}

{% endblock %}