{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" >
      <div class="overlay news-single" style="background:#87330099;opacity:1;"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread member-header">MEMBERSHIP BENEFITS</h1>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<!-- <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img aboutimg" style="background-image: url( {% static 'images/nysc/nysc_7.jpg' %} );"></div>
					</div> -->
					<div class="col-md-10 wrap-about py-5 pr-md-4 ftco-animate">
						<p><strong>The alumni unit</strong> congratulates you, distinguished graduates of<strong> Coal City University</strong>, 
              on having successfully bagged your degree certificates after years of gruelling battle with the demands of 
              academic work and allied hostel rules and regulations. We know that your concern as fresh graduates is mostly centred on 
              the best strategies to adopt in the bid to push ahead and surmount the challenges of life as you climb to the top. 
              While affirming the cogency of this mind-set, we call your attention to the fact that the greatest prop and compass in 
              your life’s success journey is constant link and connection to the people who have both the means and inclination to help 
              bring about the fruition of your dreams. Of all the avenues through which you can access such a great pool of magnificent 
              human resources, the alumni body of Coal City University ranks among the most providential. 
              This is because any single individual’s challenge   must be capable of being crushed by any one or more members of the 
              teeming group.</p>
            <p>It is quite pragmatic therefore that you not only become a member of CCU alumni association but also keep your membership 
              constantly activated and luminous by participating in all our life-enriching activities and events. And this fit is not difficult 
              to be achieved because your having passed through Coal City University automatically makes the university your Alma matter and 
              correspondingly defines you as a bonafide <em>alumnus</em> of the university. </p>
            <p>In the following lines are listed some of the benefits you derive from being a member of the association:</p>
            <ol type="a">
            <li>It is a link through which you not only connect to the university but also to the members of your set and other sets graduating 
              before and after you.</li>
            <li>Through the forum the university community will have a database for the contacts of all our graduated students, studying their 
              progress and challenges in life and offering help and advice where necessary.</li>
            <li>The university keeps you informed about job opportunities and other uplifting opportunities and also responds timely to those 
              in need of the right kind of push from the right quarters to climb in life.  The association is therefore a kind of social 
              security which never allows its members to be stranded in the journey of life.</li>
            <li>The association is expected to become in future the base of a grand nationwide political network immensely beneficial to our 
              politically-oriented members.</li>
            <li>An annual ritual of home coming for all our members will be inaugurated after one session and sustained thereafter to keep our 
              members periodically in physical touch with their Alma matter and with one another.</li>
            <li>The association will later start up a micro finance bank from which members with business ideas can obtain soft loans to start 
              and maintain their businesses in partnership with Coal City </li>
            </ol>
            <p><strong>THANKS, AND WELCOME ON BOARD &nbsp;</strong></p>
					</div>
				</div>
			</div>
		</section>


		{% include 'footer.html' %}
{% endblock %}
   