<footer class="ftco-footer ftco-bg-dark ftco-section" id="contact-id">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Have a Question?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Km3, Coal City University, Emene, Enugu</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info.registry@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2">Recent News</h2>
          {% for news in news_list %}
          {% if forloop.counter < 3 %}
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4 img-fluid" style="background-image: url({{ news.news_img.url }});"></a>
            <div class="text">
              <h3 class="heading"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"> </span>{{ news.upload_date|date:"M" }}  {{ news.upload_date|date:"d" }}, {{ news.upload_date|date:"Y" }}</a></div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
            <li><a href="{% url 'news_list_page' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>News</a></li>
            <li><a href="{% url 'events' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Events</a></li>
            <li><a href="{% url 'member_list_page' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Members</a></li>
            <li><a href="{% url 'pictures' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Gallery</a></li>
            <li><a href="{% url 'about_us' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>About Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="ftco-footer-widget mb-5">
          <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>